<div
  class="w-[400px] h-[500px] flex flex-col items-start justify-start gap-y-3 mx-5"
>
  <img
    src="https://t.ctcdn.com.br/2k8Q4_U2zYa4t8qSpY5QGQ8wCWk=/512x288/smart/filters:format(webp)/i606984.png"
    alt=""
    class="w-full h-[200px] min-w-[400px]"
  />

  <a href="#" class="text-xl font-bold"> Saiu a nova versão do Angular </a>

  <a href="#" class="text-gray-500">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate iure at
    quasi tempore deleniti nemo minima placeat voluptate voluptates nam? Eos
    rem, pariatur obcaecati aperiam doloremque reiciendis alias. Nam, sapiente?
  </a>
</div>
